.card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }
  .project {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 30px;
  }
  
  .project-bg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .project-text {
      color: var(--secondary);
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 50px;
      z-index: 900;
      opacity: 0;
      transition: all .5s ease-in-out;
  }
  
  .project-text:hover {
    background-color: var(--alpha);
    opacity: 1;
    border: 10px solid var(--secondary);
  }
  
  .project-text h3 {
    font-size: 2.5rem;
  }
  
  .project-text a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
    transition: all .3s ease-in-out;
  }
  
  .project-text a:hover {
    color: var(--darker);
  }
  